<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<style>
body{
    background-image: url("https://cdn.crispedge.com/d1f1de.png");
}


.log_in{
    margin: auto;
    justify-content: center;
    display: flex;
    padding: auto;
}


</style>


</head>
<body>
    
<div class="log_in">
    <form action="">
        <label for="email"></label>
        <input type="email" id="email" class="email" placeholder="Your email"> <br>
 
        <label for="password"></label>
        <input type="password" id="password" class="password" placeholder="Your Password">
    </form>
</div>



</body>
</html>